
.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 30px;
}

.header__button {
  display: none;

  // Mobile
  @media (max-width: 899px) {
    display: block;
  }
}
